* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: Poppins, sans-serif;
}

.joke-container {
    margin: 20px;
    padding: 15px;
    text-align: center;
    border-bottom: 2px solid gray;
    
}
